<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Uncomment for logging ALL HTTP request and responses -->
    <!--<logger name="io.gatling.http.ahc" level="TRACE" />-->
    <!--<logger name="io.gatling.http.response" level="TRACE" />-->
    <!-- Uncomment the lines below to see failed requests and responses -->
    <!-- <logger name="io.gatling.http.ahc" level="DEBUG" /> -->
    <!--<logger name="io.gatling.http.response" level="DEBUG" />-->

    <!-- The Pause action is very chatty indeed, silence it -->
    <!--<logger name="io.gatling.core.action.Pause" level="ERROR" />-->

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
